@font-face{
    font-family: 'Omnes';
    src: url(../font/Omnes.ttf) ;
    font-style: normal;
    font-weight: normal;
  }

body{
    font-family: 'Omnes';
    
   
    
}

.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.black{
    font-weight: 900;
}

.bold{
    font-weight: 800;
}

.semibold{
    font-weight: 700;
}

.regular{
    font-weight: 500;
}

.display-1{
    font-size: 80px;
    line-height: 80px;
}

.display-2{
    font-size: 46px;
    line-height: 46px;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 26px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}

p{
    line-height: 1.3rem;
}

.legal{
    font-size: 12px;
    line-height: 1rem;
}

.color-secondary{
    color: #00AEEF;
}

.color-primary{
    color: #00113D;
}

a {
    color: #0053BA;
}

.btn-primary{
    background-color: #00113D;
    color: white;
    text-decoration: none;
    font-weight: 700;
    
}

.btn-secondary{
    background-color: #00AEEF;
    color: #00113D;
    text-decoration: none;
    font-weight: 700;
}

.btn-yellow{
    background-color: #FEC224;
    color: #00113D;
    text-decoration: none;
    font-weight: 700;
}

.btn-purple{
    background-color: #91288F;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}

.btn-orange{
    background-color: #F88E1E;
    color: #00113D;
    text-decoration: none;
    font-weight: 700;
}

.btn-green{
    background-color: #81C23F;
    color: #00113D;
    text-decoration: none;
    font-weight: 700;
}

.btn-outline-bluedark{
    border-color: #00113D;
    color: #00113D;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid;
    
}

.btn{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 16px;
    margin-top: 16px;
}