*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face{
    font-family: 'Omnes';
    src: url(../font/Omnes\ SemiCond\ Regular.ttf) ;
    font-style: normal;
    font-weight: 500;
  }

@font-face{
    font-family: 'Omnes';
    src: url(../font/Omnes\ SemiCond\ Black.ttf);
    font-weight: 900;
    font-style: normal;
}


@font-face{
    font-family: 'Omnes';
    src: url(../font/Omnes\ SemiCond\ Bold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Omnes';
    src: url(../font/Omnes\ SemiCond\ SemiBold.ttf);
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: 'Omnes';
    
   
    
}

.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.black{
    
    font-weight: 900;
}

.bold{
    font-weight: 800;
}

.semibold{
    font-weight: 700;
}

.regular{
    font-weight: 500;
}


.display-1{
    font-size: calc(2.3rem + 1.5vw);
    line-height: 48px;
}

@media (min-width: 1200px) {
    .display-1 {
      font-size: 70px;
      line-height: 46px;
    }
  }

.display-2{
    font-size: calc(1.9rem + 1.5vw);
    line-height: 46px;
}

@media (min-width: 1200px) {
    .display-2 {
      font-size: 46px;
    }
  }

h1, .h1{
    font-size: 28px;
    font-weight: 500;
}

h2, .h2{
    font-size: 26px;
    
}

h3, .h3{
    font-size: 24px;
}

h4, .h4{
    font-size: 22px;
}

h5, .h5{
    font-size: 20px;
}

h6, .h6{
    font-size: 18px;
}

p .p{
    font-size: 18px;
    line-height: 1.5rem;
}

.small{
    font-size: 16px;
    line-height: 1.2rem;
}

.legal{
    font-size: 12px;
    line-height: 1rem;
}

.color-secondary{
    color: #00AEEF;
}

.color-primary{
    color: #00113D;
}

a {
    color: #0053BA;
    font-size: 18px;
}

.btn{
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 16px;
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
}
    

.btn-primary{
    background-color: #00113D;
    color: white;
    text-decoration: none;
    font-weight: 700;
    
}

.btn-primary:hover{
    background-color: #002175;
    
}

.btn-secondary{
    background-color: #00AEEF;
    color: #00113D;
    text-decoration: none;
    font-weight: 700;
}

.btn-secondary:hover{
    background-color: #59d3ff;
    
}

.btn-yellow{
    background-color: #FEC224;
    color: #00113D;
    text-decoration: none;
    font-weight: 700;
}

.btn-yellow:hover{
    background-color: #ffd25f;
    
}

.btn-purple{
    background-color: #91288F;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}

.btn-purple:hover{
    background-color: #b800b5;
}

.btn-orange{
    background-color: #F88E1E;
    color: #00113D;
    text-decoration: none;
    font-weight: 700;
}

.btn-orange:hover{
    background-color: #ffa94d;
    
}

.btn-green{
    background-color: #81C23F;
    color: #00113D;
    text-decoration: none;
    font-weight: 700;
}

.btn-green:hover{
    background-color: #a6ff4e;
    
}

.btn-outline-bluedark{
    border-color: #00113D;
    color: #00113D;
    text-decoration: none;
    font-weight: 700;
    border: 2px solid;
    
}

.btn-outline-bluedark:hover{
    border-color: #00113D;
    background-color: #00113D;
    color: #FFFFFF;
    border: 2px solid;
    
}

.btn-outline-white{
    border-color: #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    border: 2px solid;
    
}

.btn-outline-white:hover{
    border-color: #ffffff;
    color: #00113D;
    background-color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    border: 2px solid;
    
}



.disabled{
    opacity: 0.4;
    cursor: default;
}

.icon{
    padding-right: 8px;
    font-size:16px;
}


label{
    display: inline-block;
    font-size: 16px;
}

.form-input{
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    font-family: 'Omnes';
    font-size: 16px;
    
}

.formulario{
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-bottom: 40px;
    
    
}


@media (min-width: 700px) {
    .formulario {
        width: 50%;
        padding-right: 32px;
        padding-left: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
  }

.inter-input{
    padding-bottom: 12px;
    
}

input, select{
    margin: 0;
}

button,
[type=button],
[type=submit] {
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 16px;
    margin-top: 16px;
    font-family: 'Omnes';
    font-size: 16px;
    border-style: none;
}

.w-100{
    width: 100%;
}

.text-center{
    text-align: center;
}

.card{
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    margin-bottom: 40px;

}

@media (min-width: 700px) {
    .card {
        width: 30%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 32px;
        padding-bottom: 32px;
        position: relative;
        margin-bottom: 40px;
    }
  }

.card p{
    margin-top: 4px;
    margin-bottom: 4px;
}

.badge{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 20px;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    position: absolute;
    top: -5%;
    right: 5%;
    
}

.bg-yellow{
    background-color: #FEC224;
}

.fecha-cuota{
    display: flex;
    width: 100%;
}

.fecha, .cuota{
    display: inline-block;
    width: 50%;
}